.pageContainer{
    height: 40rem;
}

.pageText{
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    color: #389738;
}

.centerContainer{
    display: flex;
    justify-content: center;
}
.centerContainer{
    display: flex;
    flex-direction: row;
}

.dragNDrop{
    border: 1px solid black;
    height: 10rem;
    width: 10rem;
    display: flex;
    margin: 4rem 4rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input{
    display: flex;
    align-items: center;
    height: 1rem;
}

.form-group{
    margin-top: 3rem;
}

.btnContainer{  
    display: flex;
    justify-content: center;
}

