.feed-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.feed-wrapper img {
  max-width: 200px;
  max-height: 220px;
}

.post-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.post-container img {
  max-width: 200px;
  max-height: 220px;
}

.dashboard-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  /* height: 50px; */
}

.dashboard-header h1 {
  color: #228b22;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.edit {
  background: none;
  border: none;
}

.edit:hover {
  cursor: pointer;
}

.dashboard h3 {
  text-align: center;
  color: #228b22;
}

.upload {
  background: #228b22;
  color: white;
  border: none;
  width: 100px;
  border-radius: 20px;
}

.upload:hover {
  cursor: pointer;
  background: #a7d1a7;
}

.sign-out {
  background: none;
  border: none;
}

.sign-out:hover {
  cursor: pointer;
}

.delete:hover {
  cursor: pointer;
  color: gray;
  border: 1px solid gray;
}

.delete {
  background: none;
  border: 1px solid red;
  color: red;
  border-radius: 100%;
  font-size: 1.3rem;
}

.action-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 50%;
}

.dashboard-header input {
  background: url("./search.png") top left no-repeat;
  height: 30px;
  padding-left: 30px;
  width: 500px;
  border: 1px solid grey;
  border-radius: 10px;
}

.feed-card {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 10px auto;
  /* margin-top: 10px; */
  max-width: 200px;
  padding: 10px;
}

.feed-card h4 {
  margin: 5px 0;
}
.feed-card h5 {
  margin: 7px 0;
  color: darkgray;
}
.feed-card p {
  margin: 7px 0;
}

.welcome-wrapper {
  text-align: center;
}
.nav-wrapper {
  text-align: center;
}

.nav {
  display: flex;
  /* border: 1px solid black; */
  justify-content: space-around;
}

.signup-wrapper {
  max-width: 230px;
  margin: 0 auto;
}

.signup-wrapper h4 {
  color: #228b22;
  text-align: center;
}

.form-group {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.form-group .input {
  padding: 10px;
  border-radius: 10px;
  /* border: 1px solid black; */
}

.btn {
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  background-color: #999999;
  border: 1px solid #19a0fa;
  color: white;
  width: 190px;
  cursor: pointer;
}

.feed-img-wrapper {
  margin: auto;
}

.burger-menu {
  text-align: right;
  margin: 10px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
}

.fa-bars {
  font-size: 36px;
  cursor: pointer;
  color: #4ea24e;
}

.toggled {
  display: none;
}

.menu-wrapper {
  /* border: 1px solid black; */
  /* display: inline-block; */
  /* max-width: 250px; */
  text-align: center;
}

.menu {
  text-decoration: none;
  color: white;
  background: #4ea24e;
  padding: 0;
}

.explore-header {
  text-align: center;
}

.welcome-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}
