.feed-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feed-wrapper img {
  max-width: 200px;
  max-height: 220px;
}

.post-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.post-container img {
  max-width: 200px;
  max-height: 220px;
}

.dashboard-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.dashboard-header h1 {
  color: #228b22;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.edit {
  background: none;
  border: none;
}

.edit:hover {
  cursor: pointer;
}

.dashboard h3 {
  text-align: center;
  color: #228b22;
}

.upload {
  background: #228b22;
  color: white;
  border: none;
  width: 100px;
  border-radius: 20px;
}

.upload:hover {
  cursor: pointer;
  background: #a7d1a7;
}

.sign-out {
  background: none;
  border: none;
}

.sign-out:hover {
  cursor: pointer;
}

.delete:hover {
  cursor: pointer;
  color: gray;
  border: 1px solid gray;
}

.delete {
  background: none;
  border: 1px solid red;
  color: red;
  border-radius: 100%;
  font-size: 1.3rem;
}

.action-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 50%;
}

.dashboard-header input {
  background: url("./search.png") top left no-repeat;
  height: 30px;
  padding-left: 30px;
  width: 500px;
  border: 1px solid grey;
  border-radius: 10px;
}

.feed-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #a7d1a7;
  border-radius: 10px;
  margin:  2rem 5rem;
  /* margin-top: 10px; */
  width: 200px;
  padding: 10px;
}

.feed-card h4 {
  margin: 5px 0;
}
.feed-card h5 {
  margin: 7px 0;
  color: darkgray;
}
.feed-card p {
  margin: 7px 0;
}

.welcome-wrapper {
  text-align: center;
}
.nav-wrapper {
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.signup-wrapper {
  max-width: 230px;
  margin: 0 auto;
}

.signup-wrapper h4 {
  color: #228b22;
  text-align: center;
}

.form-group {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.form-group .input {
  padding: 10px;
  border-radius: 10px;
}

.btn {
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  background-color: #999999;
  border: 1px solid #19a0fa;
  color: white;
  width: 190px;
  cursor: pointer;
}

.feed-img-wrapper {
  margin: auto;
}

.feed-img-wrapper img {
  max-width: 200px;
  max-height: 220px;
}
.feed-link  {
  
  border:none;
  outline:none;
  text-decoration:none;
  color:inherit;
  
}

.post-img-wrapper {
  margin: auto;
  width: 150px;
}

.burger-menu {
  text-align: right;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.fa-bars {
  font-size: 36px;
  cursor: pointer;
  color: #4ea24e;
}

.toggled {
  display: none;
}

.menu-wrapper {
  text-align: center;
}

.menu {
  text-decoration: none;
  color: white;
  background: #4ea24e;
  padding: 0;
}

.explore-header {
  text-align: center;
}

.welcome-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin: 5px 15px 0 15px;
}

.upload-button {
  text-align: center;
}

.upload-btn {
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  background-color: #1919ff;
  border: 1px solid #19a0fa;
  color: white;
  width: 190px;
  cursor: pointer;
}

.dashboard-header {
  align-items: center;
  margin-top: 10px;
  margin-left: 15px;
}

.dashboard-header input {
  max-width: 33%;
  margin: auto;
}

.li {
  transform: translate(0px, -75px);
}

.profile-photo {
  width: 80px;
  border-radius: 100px;
}
@media only screen and (max-width: 750px) {
  .feed-card {
    
    margin:  2rem 1rem;
    
   
  }
  
}

.link-clear {
  text-decoration: none;
  color: black;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
}
