.feed-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feed-wrapper img {
  max-width: 200px;
  max-height: 220px;
}

.post-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.post-container img {
  max-width: 200px;
  max-height: 220px;
}

.dashboard-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.dashboard-header h1 {
  color: #228b22;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.edit {
  background: none;
  border: none;
}

.edit:hover {
  cursor: pointer;
}

.dashboard h3 {
  text-align: center;
  color: #228b22;
}

.upload {
  background: #228b22;
  color: white;
  border: none;
  width: 100px;
  border-radius: 20px;
}

.upload:hover {
  cursor: pointer;
  background: #a7d1a7;
}

.sign-out {
  background: none;
  border: none;
}

.sign-out:hover {
  cursor: pointer;
}

.delete:hover {
  cursor: pointer;
  color: gray;
  border: 1px solid gray;
}

.delete {
  background: none;
  border: 1px solid red;
  color: red;
  border-radius: 100%;
  font-size: 1.3rem;
}

.action-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 50%;
}

.dashboard-header input {
  background: url("./search.png") left no-repeat;
  height: 30px;
  padding-left: 30px;
  width: 500px;
  border: 1px solid grey;
  border-radius: 10px;
}

.feed-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #a7d1a7;
  border-radius: 10px;
  margin: 2rem 5rem;
  /* margin-top: 10px; */
  width: 200px;
  padding: 10px;
}

.feed-card h4 {
  margin: 5px 0;
}
.feed-card h5 {
  margin: 7px 0;
  color: darkgray;
}
.feed-card p {
  margin: 7px 0;
}

.welcome-wrapper {
  text-align: center;
}
.nav-wrapper {
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.signup-wrapper {
  max-width: 230px;
  margin: 0 auto;
}

.signup-wrapper h4 {
  color: #228b22;
  text-align: center;
}

.form-group {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.form-group .input {
  padding: 10px;
  border-radius: 10px;
}

.btn {
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  background: #999999;
  border: none;
  color: white;
  width: 190px;
  cursor: pointer;
  box-shadow: 0px 5px 5px rgb(167, 167, 167);
}

.form-complete {
  background: #228b22;
}

.form-complete:hover {
  background: #a7d1a7;
}

.feed-img-wrapper {
  margin: auto;
}

.feed-img-wrapper img {
  max-width: 200px;
  max-height: 220px;
}

.feed-link {
  border: none;
  outline: none;
  text-decoration: none;
  color: inherit;
}

.post-img-wrapper {
  margin: auto;
  width: 150px;
}

.burger-menu {
  text-align: right;
  margin: 10px;
  /* position: absolute; */
  /* right: 0px; */
  /* top: 80px; */
  /* width: 40px; */

  /* display: inline-block;
  float: right; */
  display: flex;
  flex-direction: column;
  float: right;
  /* border: 1px solid black; */
}

.fa-bars {
  font-size: 36px;
  cursor: pointer;
  color: #4ea24e;
}

.toggled {
  display: none;
}

.menu-wrapper {
  text-align: center;
  width: 100px;
}

.menu {
  text-decoration: none;
  color: white;
  background: #4ea24e;
  padding: 0;
}

.explore-header {
  text-align: center;
}

.welcome-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin: 5px 15px 0 15px;
}

.upload-button {
  text-align: center;
  transform: translate(120px);
}

.upload-btn {
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  background-color: #1919ff;
  border: 1px solid #19a0fa;
  color: white;
  width: 190px;
  cursor: pointer;
}

@media (min-width: 501px) {
  .upload-btn {
    display: none;
  }
}

.profile-container h3 {
  text-align: center;
  color: #228b22;
}

.dashboard-header {
  align-items: center;
  margin-top: 10px;
  margin-left: 15px;
  border: 1px solid black;
}

.dashboard-header input {
  max-width: 33%;
  margin: auto;
}

.li {
  transform: translate(0px, -75px);
}

.profile-photo {
  width: 80px;
  border-radius: 100px;
}

.edit-container img {
  max-width: 80%;
  margin-left: 10%;
}

.edit-page h3 {
  display: none;
}

.edit-page h4 {
  display: none;
}

.edit-container textarea {
  width: 85%;
  margin-left: 5%;
  height: 80px;
  border-radius: 5px;
  border: 1px solid grey;
  margin-top: 50px;
  padding: 10px;
  resize: none;
}

.edit-container textarea:focus {
  border: 2px solid black;
}

.edit-buttons .cancel {
  display: none;
}

.edit-buttons .update {
  width: 100px;
  margin-left: 180px;
  margin-top: 40px;
  height: 30px;
  border-radius: 40px;
  border: none;
  background: #228b22;
  color: white;
  margin-bottom: 40px;
  box-shadow: 0px 5px 5px rgb(167, 167, 167);
}

.edit-buttons .update:hover {
  cursor: pointer;
  background: #a7d1a7;
}

@media (min-width: 501px) {
  .dashboard-header {
    display: none;
  }

  .edit-page h3 {
    display: block;
    color: #228b22;
    text-align: center;
    margin-bottom: 80px;
    font-size: 1.4rem;
  }

  .edit-page h4 {
    display: block;
  }

  .edit-container img {
    max-height: 400px;
    border-radius: 5px;
  }

  .edit-text textarea {
    width: 400px;
    height: 100px;
    margin: 0;
  }

  .edit-buttons .cancel {
    display: inline;
    margin-left: 100px;
    background: none;
    border: none;
  }

  .edit-buttons .cancel:hover {
    cursor: pointer;
  }

  .edit-buttons {
    margin-top: 60px;
  }

  .edit-buttons .update {
    margin: 0;
    width: 200px;
  }

  .edit-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
    margin-left: 20%;
    margin-top: 100px;
  }

  .edit-text {
    margin-left: 20px;
  }
}

.desktop-header {
  display: none;
}

@media (min-width: 501px) {
  .desktop-header {
    display: block;
    margin-top: 20px;
  }

  .desktop-header img {
    width: 50px;
    height: 50px;
    margin-left: 50px;
    margin-right: 30%;
    vertical-align: middle;
  }

  .desktop-header input {
    background: url("./search.png") left no-repeat;
    height: 30px;
    padding-left: 30px;
    width: 500px;
    border: 1px solid grey;
    border-radius: 10px;
  }

  .desktop-header .profile-photo {
    margin-left: 80px;
    margin-right: 0;
  }

  .desktop-header .upload {
    height: 30px;
    box-shadow: 0px 5px 5px rgb(167, 167, 167);
    margin-left: 80px;
  }

  .desktop-header .sign-out {
    background: none;
    border: none;
    margin-left: 80px;
  }

  .desktop-header .burger-menu {
    vertical-align: middle;
    margin-top: 30px;
    padding-top: 50px;
  }
}
@media only screen and (max-width: 750px) {
  .feed-card {
    margin: 2rem 1rem;
  }
}

.link-clear {
  text-decoration: none;
  color: black;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
}
